:root {
  --primary-color: rgba(235, 33, 46, 1);/*#eb212e; TA Red */

  --secondary-color: rgba(255, 255, 255, 0.0);

  --card-color: rgba(255, 255, 255, 0.75);
  --selected-card-color: rgba(0, 0, 0, .75);

/*  --card-color: rgba(0, 0, 0, 0.5);*/

  --recording-color: rgba(235, 33, 46, 1);/*#eb212e; TA Red */
  --not-recording-color: rgba(0, 0, 0, .75);
  --ta-red: rgba(235, 33, 46, 1);/*#eb212e; TA Red */

  --card-font-color: black;
  --selected-card-font-color: white;

  --surface-color: white;
  --bg-hover-color: #f2f2f2;
  --surface-hover-color: hsl(0, 0%, 98%);

  --primary-font-color: black;
  --secondary-font-color: black;
  --button-font-color: black;

  --on-background: rgba(255, 255, 255, 0.87);
  --on-surface: rgba(255, 255, 255, 0.6);
  --on-primary: #fff;
  --on-secondary: #000;

  /* spacing t-shirt sizes */
  --spacing-none: 0;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-xxxl: 48px;
  --spacing-xxxxl: 64px;

  /* radii */
  --radius-sm: 0.1rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1rem;
  --radius-xxl: 2rem;
  --radius-circle: 50%;

/*  --danger: #f53d4e;*/
  --danger: #eb212e;
}


html {
    background: black;
}

/*@import url(//db.onlinewebfonts.com/c/85aa81413708ebb77a4ed7712511b8aa?family=Univers);

@font-face {font-family: "Univers"; src: url("//db.onlinewebfonts.com/t/85aa81413708ebb77a4ed7712511b8aa.eot"); src: url("//db.onlinewebfonts.com/t/85aa81413708ebb77a4ed7712511b8aa.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/85aa81413708ebb77a4ed7712511b8aa.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/85aa81413708ebb77a4ed7712511b8aa.woff") format("woff"), url("//db.onlinewebfonts.com/t/85aa81413708ebb77a4ed7712511b8aa.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/85aa81413708ebb77a4ed7712511b8aa.svg#Univers") format("svg"); }

*/


body {
/*  background: #000000 url("images/0.jpg");
  background-position: top;
  background-repeat: no-repeat;*/
  padding: 0;
  margin: 0;
/*  font-family: 'Karla', sans-serif;*/
/*  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: Arial Narrow, sans-serif; 
/*  font-family: Univers,sans-serif; */

/*  background: var(--bg-color);*/
  color: var(--primary-font-color);
}

/* not used, use for non bgn image*/
.classImageViewer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  height: auto;
}

#bgnDiv { /*background image*/
  background: url(images/0.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#toggleFullscreen {
position: absolute;
top: 10px;
right: 10px;
}

.Head {
/*  text-align: right;*/
  padding: var(--spacing-sm);
  box-sizing: border-box;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-sizing: border-box;

  border: 4px solid transparent;
  background: var(--card-color);
  color: var(--card-font-color);
/*  width: 400px;*/

  position: absolute;
  bottom: 10px;
  right: 10px;

}

.Info {
/*  text-align: right;*/
  padding: var(--spacing-sm);
  box-sizing: border-box;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-sizing: border-box;

  border: 4px solid transparent;
  background: var(--card-color);
  color: white;
/*  width: 400px;*/

  position: absolute;
  bottom: 10px;
  right: 10px;
}

ul {
    padding: 1rem;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    padding-bottom: 0;
    color: white
  }



.logo {
  width: 175px;
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
  text-align: center;
}


#link {
  font-style: oblique;
  font-size: .8rem;
  color: black;
  text-decoration: none;
  margin-right: 1rem;
}

.App {
/*removed do avoid scrolling*/
/*width: 100vw;
  height: 100vw;*/

  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;

/*  display: flex;*/
/*  flex-direction: row;
  align-items: bottom;
  justify-content: left;*/

/*  padding: 0;
  margin: 0;*/
}

.AppContent {
  display: flex;
  flex-direction: column;
/*  flex-direction: row;
*/ 
  align-items: center;
  justify-content: left;

  /*position: absolute;
  bottom: 10px;
*/

/*  background: transparent;*/

  border-radius: var(--radius-md);
  background: var(--secondary-color);
  padding: 0;
  margin: 0;

  position: absolute;
  top: 20px;
  left: 20px;
}
/*
needed if columns accross bottom of page*/
/*.AppContent > *:not(:last-child) {
  margin-right: 2rem;
}*/

.card__recording {
  background: var(--recording-color);
}

.CardList {
  display: inline-block;
  padding: 1rem;
  margin: 0;

  box-sizing: border-box;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

/*margin between sub cards*/
.CardList > *:not(:last-child) {
  margin-bottom: .5rem;
}

.Card {
  width:270px;
  padding: var(--spacing-sm);
  box-sizing: border-box;

  overflow: hidden;
  box-sizing: border-box;

  border-radius: var(--radius-md);
  border: 1px solid transparent;
  background: var(--card-color);
  color: var(--card-font-color);
}

.Card__selected {
  border: 1px solid var(--primary-color);

  background: var(--selected-card-color);
  color: var(--selected-card-font-color);
  text-overflow: ellipsis;
}

.Card__play {
  border: 1px solid var(--primary-color);

  background: var(--selected-card-color);
  color: var(--selected-card-font-color);
  text-overflow: ellipsis;
}

.Card__title {
  font-weight: bold;
}
.Card__description {
/*  color: var(--primary-font-color);*/
}

h2 {
/*  width: 100%;*/
  text-shadow: 0px 0px 3px black;
  text-align: left;
  margin-top: 0;
  color: white;
}


.Button {
  border-radius: var(--radius-md);
  padding: var(--spacing-xs) var(--spacing-md);
  min-width: 3rem;
  font-weight: bold;
  line-height: 1.2rem;
  font-size: 0.9rem;
  text-align: center;
  color: var(--button-font-color);
  background: var(--card-color);
  outline: none;
/*  border: 4px solid var(--card-color);*/
  border: 0;

  }

.Button__danger {
  background: var(--danger);
/*  border: 2px solid var(--danger);*/
  color: var(--button-font-color);
}

.Button__large {
  width: 8rem;
/*  font-weight: bold;*/
  line-height: 2.75rem;
  font-size: 1.5rem;
  background: var(--selected-card-color);
  color: var(--selected-card-font-color);
  border: 1px solid var(--primary-color);
}

/* Small Screens. */
/*@media (max-width: 1100px) {
  .App {
    padding-bottom: 1rem;
  }

  .AppContent {
    flex-direction: column;
    background: transparent;
    top: 20px;
    left: 10px;
  }

  .AppContent > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .Head {
      width: 100%;
  }
}*/

/* Phones only. */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .CardList {
    width: 100vw;
    align-items: center;
  }

  body{
    font-size: 2rem;
  }

  .Card {
    width: 50%;
    max-width: unset;

  }

  .Button__large {
/*    width: 100%;*/
/*  font-size: 3rem;*/
  }
}
